@model OrdemServico.Models.OrdensServico

@{
    ViewData["Title"] = "Detalhes da Ordem de Serviço";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Detalhes da Ordem de Serviço</h1>
    <hr />
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <dl class="row">
                <dt class="col-sm-3 text-truncate fw-bold">
                    @Html.DisplayNameFor(model => model.DataOrdemServico)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DataOrdemServico)
                </dd>
                <dt class="col-sm-3 text-truncate fw-bold">
                    @Html.DisplayNameFor(model => model.Servico)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Servico)
                </dd>
                <dt class="col-sm-3 text-truncate fw-bold">
                    @Html.DisplayNameFor(model => model.ValorTotal)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ValorTotal)
                </dd>
                <dt class="col-sm-3 text-truncate fw-bold">
                    @Html.DisplayNameFor(model => model.StatusServico)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.StatusServico)
                </dd>
                <dt class="col-sm-3 text-truncate fw-bold">
                    @Html.DisplayNameFor(model => model.IdEquipamentoNavigation)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.IdEquipamentoNavigation.NomeEquipamento)
                </dd>
                <dt class="col-sm-3 text-truncate fw-bold">
                    @Html.DisplayNameFor(model => model.IdClienteNavigation)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.IdClienteNavigation.NomeCliente)
                </dd>
                <dt class="col-sm-3 text-truncate fw-bold">
                    @Html.DisplayNameFor(model => model.IdDefeitoNavigation)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.IdDefeitoNavigation.Descricao)
                </dd>
                <dt class="col-sm-3 text-truncate fw-bold">
                    @Html.DisplayNameFor(model => model.IdTecnicoNavigation)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.IdTecnicoNavigation.NomeTecnico)
                </dd>
            </dl>
            <div class="mt-3">
                <a asp-action="Edit" asp-route-id="@Model?.IdOrdemServico" class="btn btn-primary me-2">Editar</a>
                <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
            </div>
        </div>
    </div>
</div>
