@model IEnumerable<OrdemServico.Models.OrdensServico>

@{
    ViewData["Title"] = "Ordens de Serviço";
}

<div class="container">
    <h1 class="text-center">Ordens de Serviço</h1>
    <p class="text-right">
        <a asp-action="Create" class="btn btn-primary">Criar Nova Ordem de Serviço</a>
    </p>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Data da Ordem de Serviço</th>
                <th>Serviço</th>
                <th>ValorTotal</th>
                <th>Status</th>
                <th>Equipamento</th>
                <th>Cliente</th>
                <th>Defeito </th>
                <th>Técnico</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataOrdemServico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Servico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusServico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEquipamentoNavigation.NomeEquipamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdClienteNavigation.NomeCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDefeitoNavigation.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTecnicoNavigation.NomeTecnico)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdOrdemServico" class="btn btn-sm btn-primary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.IdOrdemServico" class="btn btn-sm btn-info">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.IdOrdemServico" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
