@model IEnumerable<OrdemServico.Models.OrdensServico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataOrdemServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDefeitoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEquipamentoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTecnicoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataOrdemServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDefeitoNavigation.IdDefeito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEquipamentoNavigation.IdEquipamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTecnicoNavigation.IdTecnico)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOrdemServico">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdOrdemServico">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOrdemServico">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
